@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .display-flex{
    display: flex;
  }
  main{
    max-width: 1440;
    margin: 0  auto;
  }
  /* nav */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-left: 141px;
    margin-right: 141px;
    
}
.school-tittle{
    font-size: 2rem;
    font-weight: 700;  
}
.nav-logo{
    width: 62px;
    height: 62px;
    margin-top: 20px ;
}

.nav-items{
    list-style: none;
    
    margin-right: 2rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;

}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}
.button-nav{
    padding: 10px 60.5px;
    border-radius: 12px;
    color: #FFFFFF;
    background-color: orange;
    border: none;
}
/* banner */
.container{
    margin-bottom: 60px;
    
}
.banner-content{
    width: 640px;
    margin-left: 140px;
    margin-top: 122px;
}
.banner-tittle{
    font-size: 3.5rem;
    font-weight: 700;
}
.kids-img{
    width: 468.61px;
    height: 576px;
    margin-left: 141px;
}
#empower{
    color: orange;
}
#towards-vision{
    color: skyblue;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 300;
}
.banner-btn{
    font-size:  1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: black;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
}
/* standard-curriculum */
.standard-background{
    background-image: url(assets/bg.png);
    
}
.curriculum-tittle{

    font-size: 2.88rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 141px;
    margin-bottom: 200px;
}
.curriculum-card{

    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 28.19px;
}


.card-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-description{
    font-size: 0.94rem;
    font-weight: 400;
    margin-top: 10px;
}
#kinder-card-bg{
    background: linear-gradient(#DEF5FF 0%,#FFFFFF 40%);
    border: 2px solid rgba(222, 245, 255, 1);

}
#elementary-card-bg{
    background: linear-gradient(#FFF4DC 0%,#FFFFFF 40%);
    border: 2px solid  rgba(255, 244, 220, 1);
    

}
#middle-card-bg{
    background: linear-gradient(#EEE1FF 0%,#FFFFFF 40%);
    border: 2px solid  rgba(242, 232, 255, 1);
}
.card-btn{
    border: none;
    background-color: white;
}
#kinder-btn{
    color: #64C8FF;
}
#elementary-btn{
    color: #F0AA00;
}
#middle-btn{
    color: #8700FF;
}
/* stories */
.stories-background{
    background-image: url(assets/bg.png);
}
.stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stories .stry-card1 {
    grid-row: span 4;
}
.stories-container{
    margin: 80px 141.5px;

}

.story-tittle{
    font-size: 2.88rem;
    font-weight: 700;
    text-align: center;
}
.card-content {
    padding: 15px;
}

.story-img1{
    width: 540px;
    height:337px;
    border-radius: 16px 16px 0 0;

}
.img-tittle1{
    width: 402.9px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}
.img-description1{
    width: 433.06px;
    font-size: 0.96rem;
    font-weight: 400;
}

.stry-card1{
    width: 540.27px;
    height: 630.52px;
    background-color: #FFFFFF;

}
.stry-card2-4{
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    font-size: 0.96rem;
    font-weight: 700;
    background-color: #FFFFFF;
}
.stories-card{
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}
.Story-Img2-3{
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0 0;
}
.Story-Img4-5{
    width: 291px;
    height: 182px;
    border-radius: 16px 16px 0 0;


}

.view-all {
    text-align: center;
    /* margin-top: 80px; */
    margin-bottom: 60px;
}
.view-all button { 
    padding: 10px 61px;
    background: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    cursor: pointer;
}
.view-all button:hover {
    background: skyblue;
}

/* FOOTER */
.footer{
    background-color: #01ACFD;
    
    height: 519px;
    color: white;
}
.footer-container{
    
    justify-content: space-between;
    padding:123px 228.09px 174px 140px; 


}
.footer-container{
    width: 1070.91px;
    height: 222;
    padding:123px 228.09px 174px 140px; 
    
}

#footer-line{
    width: 399.02px;
    
}
.footer-tittle{
    font-size: 2.63rem;
    font-weight: 700;
    width: 206.11px;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-img{
    width: 70.34px;
    height: 81.65px;

}

.footer-tittle2{
    font-size: 1.5rem;
    font-weight: 700;

    
}
div ul{
    list-style: none;
}
div ul a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
div ul li{
    margin-bottom: 20px;
}
.footer-tittle3{
    font-size: 1.63rem;
    font-weight: 700;
    
}
div img{
    margin-right: 10.15px;
}




  






























































@media screen and (max-width: 576px) {
    
}