@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
  }
  
  .display-flex{
    display: flex;
  }
  
  /* nav */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    /* margin-left: 141px; */
    /* margin-right: 141px; */
    max-width: 1440px;
    margin: 50px auto;
    
}

.nav-bar img{
    margin-left: 80px;
}
.nav-bar .school-tittle{
    font-size: 2rem;
    font-weight: 700;
      
}

.nav-links{
    margin-right: 200px;
}

.nav-items{
    list-style: none;
    
    margin-right: 2rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;

}
#home{
    color: orange;
}
#about{
    color: skyblue;
}
#facilities{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}
.button-nav{
    padding: 10px 60.5px;
    border-radius: 12px;
    color: #FFFFFF;
    background-color: orange;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
}
.menu-icon{
    font-size: 2rem;
    padding: 20px 16px;
    display: none;
}
/* banner */
.container{
    /* margin-bottom: 60px; */
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.banner-content{
    /* width: 640px; */
    /* margin-left: 140px;
    /* margin-top: 122px; */
    margin-bottom: 50px;
    margin-top: 50px;
}   
.banner-tittle{
    font-size: 3.5rem;
    font-weight: 700;
}
.kids-img{
    width: 468.61px;
    height: 576px;
    /* margin-left: 141px; */
}
#empower{
    color: orange;
}
#towards-vision{
    color: skyblue;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 300;
}
.banner-btn{
    font-size:  1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: black;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
}
/* standard-curriculum */
.standard-background{
    background-image: url(assets/bg.png);
    
}
.curriculum-tittle{

    font-size: 2.88rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 141px;
    margin-bottom: 200px;
    gap: 80px;
}
.curriculum-card{

    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 28.19px;
  
}


.card-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-description{
    font-size: 0.94rem;
    font-weight: 400;
    margin-top: 10px;
}
#kinder-card-bg{
    border: 1px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
#elementary-card-bg{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 1px solid rgb(222, 245, 255);
    

}
#middle-card-bg{
    border: 1px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-btn{
    border: none;
    background-color: white;
}
#kinder-btn{
    color: #64C8FF;
}
#elementary-btn{
    color: #F0AA00;
}
#middle-btn{
    color: #8700FF;
}
.arrow-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 120px;
}
.arrow-icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    cursor: pointer;
}
/* stories */
.stories-background{
    background-image: url(assets/bg.png);
    background-position: center;
    background-size: cover;
}

/* .bg-linear{ */
    /* background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%); */
/* } */
.stories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.stories-image1{
    display: flex;
    position: relative;
}
.stories-image1 .stry-btn{
    position: absolute;
    bottom: -20px;
    left: 40px;
    padding: 14px 18px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3CD8E8;
    border-radius: 47px;
    border: none;

}
.stories-image{
    display: flex;
    position: relative;
}
.stories-image .stry-btn{
    position: absolute;
    bottom: -20px;
    left: 40px;
    padding: 14px 18px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3CD8E8;
    border-radius: 47px;
    border: none;

}
.stories-image .stry-btn2{
    position: absolute;
    bottom: -20px;
    left: 40px;
    padding: 14px 18px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3CD8E8;
    border-radius: 47px;
    border: none;

}
.margin{
    max-width: 1440px;
    margin: 0 auto;

}


/* .stories-container{ */
    /* margin: 80px 141.5px; */

/* } */

.story-tittle{
    font-size: 2.88rem;
    font-weight: 700;
    text-align: center;
}
.card-content {
    padding: 15px;
}

.story-img1{
    width: 640px;
    height:337px;
    border-radius: 16px 16px 0 0;

}
.img-tittle1{
    width: 402.9px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}
.img-description1{
    width: 433.06px;
    font-size: 0.96rem;
    font-weight: 400;
}

.stry-card1{
    width: 540.37px;
    height: 630px;
    background-color: #FFFFFF;
    grid-row: span 2;
    grid-column: span 2;
}
.stry-card2{
    width: 640px;
    height: 645px;
}
.stry-card3{
    width: 640px;
    height: 645px;
}
.stry-card4{
    width: 640px;
    height: 645px;
}
.stry-card5{
    width: 640px;
    height: 645px;
}

.stry-card2-4{
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    font-size: 0.96rem;
    font-weight: 700;
    background-color: #FFFFFF;
}
.stories-card{
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}
.Story-Img2-3{
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0 0;
}
.Story-Img4-5{
    width: 291px;
    height: 182px;
    border-radius: 16px 16px 0 0;


}

.view-all {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.view-all button { 
    padding: 10px 61px;
    background: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    cursor: pointer;
   
}
.view-all button:hover {
    background: skyblue;
}
.marquee{
    font-size: 2rem;
    margin-bottom: 100px;
    font-weight: bold;
    color: black;
}
/* FOOTER */
.footer{
    
    background-color: #01ACFD;
    padding: 50px 0;
    
    /* height: 519px; */
    color: white;
}
.footer-container{
    
    justify-content: space-between;
    padding:123px 228.09px 174px 140px; 


}
.footer-container{
    width: 1070.91px;
    height: 222;
    padding:123px 228.09px 174px 140px; 
    
}

#footer-line{
    width: 399.02px;
    margin-top: 50px;
}
.footer-tittle{
    font-size: 2.63rem;
    font-weight: 700;
    width: 206.11px;
    margin-top: 0;
    margin-bottom: 0px;
}
.footer-img{
    width: 70.34px;
    height: 100px;

}

.footer-tittle2{
    font-size: 1.5rem;
    font-weight: 700;

    
}
div ul{
    list-style: none;
}
div ul a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
div ul li{
    margin-bottom: 20px;
}
.footer-tittle3{
    font-size: 1.63rem;
    font-weight: 700;
    
}
div img{
    margin-right: 10.15px;
}




  






























































@media screen and (max-width: 576px) {
    
}